<p>security works!</p>
<h1> {{rezult}}</h1>

<button mat-raised-button color="primary" (click)="onClick()">  Go to API area</button>

<br>
<br>
<br>

<button mat-raised-button color="primary" *ngIf="showButton" (click)="getDoctors()"> Put doctors to console </button>

<br>
<br>
<br>

<button mat-raised-button color="primary" *ngIf="showButton" (click)="getInterns()"> Put interns to console </button>
<br>
<br>
<br>

<button mat-raised-button color="primary" *ngIf="showButton" (click)="getPersons()"> Put persons to console </button>
